.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(24, 1fr);
    padding: 60px 0;
  }
}
