@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(15px + 0.390625vw);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background: #fafafa;
  color: $color-dark;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
