// colors
$color-primary: #5ca625;
$color-highlight: #a8eb8e;
$color-dark: #222221;
$color-error: #ff3333;
$color-success: green;

// typography
$font-normal: 500;
$font-semibold: 600;

// breakpoints
$min-mobile: 480;
$min-tablet: 720;
$min-desktop: 1080;
