// $min-mobile: $min-480;
// $min-tablet: $min-720;
// $min-desktop: $min-1080;

$color-primary: #5ca625;
$color-highlight: #a8eb8e;
$color-dark: #222221;
$color-error: #ff3333;
$color-success: green;
